<body style="background-image: url(https://cdn.dribbble.com/users/2104064/screenshots/8512308/artboardsnore_2x_4x.png);">
<div class="container text-center pb-5">
      <div class="row pb-sm-0 my-5">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p class="lead text-center " style="opacity: 3; font-size: 30px">
                </div>       
             </div>
<h1>Error 404</h1>
<h1>Pagina no encontrada, o le diste al boton de error</h1>
<button mat-raised-button routerLink="/home">Back</button>
</div> 
</body>